html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: none;
}


.example-container {
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.example-sidenav {
    padding: 20px;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    width: 100%;
    align-items: center;
}

.user-input-container {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* position:fixed;
    bottom:0; */
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: var(--mat-app-background-color);
}